<footer class="d-flex justify-content-end">
    <ul class="pages-list">
      <li><a href="#" class="page"><span class="material-symbols-outlined">
        chevron_left
        </span></a></li>
      <li><a href="#" class="number">1</a></li>
      <li><a href="#" class="number">2</a></li>
      <li><a href="#" class="number">3</a></li>            
      <li><a href="#" class="page me-4"><span class="material-symbols-outlined">
        chevron_right
        </span></a></li>
    </ul>
</footer>