<div class="header d-flex justify-content-between">
    <div class="d-flex align-item-center">
        <h1 class="title">Admin</h1>
        <div class="d-flex">
            <span class="material-icons pe-2 green">add</span>
            <p class="fw-bold">Add New Admin</p>           
        </div>
    </div>       
    <div class="d-flex ">
        <span class="material-icons pe-4 ">search</span>
        <a href="#"><span class="material-icons">notifications_active</span></a>
    </div>
</div>